# ===== WSPÓLNE (dla całego repo) =====
.DS_Store
*.log
*.tmp

# ===== FRONTEND (.gitignore dla /frontend) =====
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/.eslintcache
/frontend/.next/
/frontend/.env
/frontend/.vscode/
!/frontend/.vscode/extensions.json
/frontend/*.idea
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?

# ===== BACKEND (.gitignore dla /backend) =====
/backendd/target/
/backendd/.classpath
/backendd/.project
/backendd/.settings/
/backendd/.vscode/
/backendd/*.idea
/backendd/*.iml
/backendd/.env
/backendd/build/
/backendd/.apt_generated
/backendd/.factorypath
/backendd/.springBeans
/backendd/.sts4-cache
/backendd/.mvn/wrapper/maven-wrapper.jar